* {
    scroll-behavior: smooth;
}

body {
    background-image:url("background.png");
}

td h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #F29D5F;
    color: #FFD19A;
    width: 180px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 4px 4px 16px 1px rgba(0,0,0,0.51);
    -webkit-box-shadow: 4px 4px 16px 1px rgba(0,0,0,0.51);
    -moz-box-shadow: 4px 4px 16px 1px rgba(0,0,0,0.51);
}

td h1:hover {
    color: #FFFF;
    background-color:#F1883C ;
}

.border {
    border-radius: 25px;
    border: 10px solid #F29D5F;
    background-color: #FFBC6E;
}

#navbar ul {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#navbar ul a li {
    list-style: none;
    width: 100px;
    height: 25px;
   
    
}

#navbar ul a {
    align-items: center;
    vertical-align: auto;
    text-decoration: none;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: auto;
    padding: auto;
}

#navbar ul a li:hover {
    background-color: #914F3B;
    border-radius: 25px;
    color: #FFFF;
    transition: 0.5s;
    box-shadow: 4px 4px 16px 1px rgba(0,0,0,0.51);
    -webkit-box-shadow: 4px 4px 16px 1px rgba(0,0,0,0.51);
    -moz-box-shadow: 4px 4px 16px 1px rgba(0,0,0,0.51);
}

#sidebar ul li {
    list-style: none;
}

#sidebar ul li img {
    align-content: center;
    padding: 20px;
    margin-right: 25px;
    animation: imgmove 1s;
}

#sidebar ul li img:hover {
    animation: imgmove2 2s;
}

@keyframes imgmove {
   from {
       transform: rotate(360deg);
   } to {
       transform: rotate(0deg);
   }
}


@keyframes imgmove2 {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
 }

#content {
    vertical-align: text-top;
    align-items: center;
    text-align: center;
}

#isi-article {
    box-shadow: 4px 4px 16px 1px rgba(0,0,0,0.51);
    -webkit-box-shadow: 4px 4px 16px 1px rgba(0,0,0,0.51);
    -moz-box-shadow: 4px 4px 16px 1px rgba(0,0,0,0.51);
    background-color: #FFD19A;
    border-radius: 15px;
    width: 750px;
    height: 330px;
    text-align: left;
    padding: 20px;
    margin: 20px;
    overflow: auto;
}

#isi-article h3 {
    margin: auto;
    top: 20px;
}

#isi-article::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#isi-article::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#isi-article::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #914F3B;
}

.isi {
    text-indent: 10px;
    text-align: justify;
    margin-bottom: 20px;
}

.trailer {
    display: flex;
    width: 100%;
    height: 210px;
}

.character {
    margin-left: 10px;
}

.character h4 {
    margin-left: 10px;
    margin-top: 0px;
}

.character ul {
    display: flex;
}

.character ul li {
    list-style: none;
    margin: 20px;
    text-align: center;

}

.character ul li p {
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    background-color: #914F3B;
    color: #FFFF;
    height: auto;
    width: 80px;
    display: block;
}

.mc:hover {
    animation: mcmove 2s ;
    animation-fill-mode: forwards;
    
}

@keyframes mcmove {
    from {
        transform: scale(1);
    } to {
        transform: scale(1.5);
        color: #FFFF;
    }
}

fieldset {
    box-shadow: 2px 2px 16px 1px rgba(0,0,0,0.51);
    -webkit-box-shadow: 2px 2px 16px 1px rgba(0,0,0,0.51);
    -moz-box-shadow: 2px 2px 16px 1px rgba(0,0,0,0.51);
}

h3 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

.footer {
    align-items: center;
    padding: 10px;
}

.footer button {
    border-radius: 25px;
    text-align: center;
    width: 100px;
    height: 50px;
    margin-top: auto;
    margin-bottom: 20px;
    border: 0px;
    color: #FFD19A;
    background-color: #914F3B ;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer button:hover {
    box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.51);
    -webkit-box-shadow: 4px 4px 16px 1px rgba(0,0,0,0.51);
    -moz-box-shadow: 4px 4px 16px 1px rgba(0,0,0,0.51);
    color: #FFFF;
}

.input-data {
    border-radius: 10px;
    margin: 5px;
    text-indent: 5px;
    border: 0px;
}

textarea {
    border: opx;
    text-indent: 10px;
}

.form {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#submit-btn {
    text-align: center;
    border: none;
    border-radius:10px ;
    width: 80px;
    font-size: 14px;
    background-color: #914F3B ;
    color: #FFD19A;
}

#reset-btn {
    text-align: center;
    border: none;
    border-radius:10px ;
    width: 80px;
    font-size: 14px;
    background-color: #914F3B ;
    color: #FFD19A;
}

#submit-btn:hover {
    box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.51);
    -webkit-box-shadow: 4px 4px 16px 1px rgba(0,0,0,0.51);
    -moz-box-shadow: 4px 4px 16px 1px rgba(0,0,0,0.51);
    color: #FFFF;
}

#reset-btn:hover {
    box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.51);
    -webkit-box-shadow: 4px 4px 16px 1px rgba(0,0,0,0.51);
    -moz-box-shadow: 4px 4px 16px 1px rgba(0,0,0,0.51);
    color: #FFFF;
}

#back-btn {
    text-align: center;
    border: none;
    border-radius:10px ;
    width: 100px;
    font-size: 14px;
    background-color: #914F3B ;
    color: #FFD19A;
    margin: 10px;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.51);
    -webkit-box-shadow: 1px 1px 16px 1px rgba(0,0,0,0.51);
    -moz-box-shadow: 1px 1px 16px 1px rgba(0,0,0,0.51);
    color: #FFD19A;
}

#back-btn:hover {
    box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.51);
    -webkit-box-shadow: 4px 4px 16px 1px rgba(0,0,0,0.51);
    -moz-box-shadow: 4px 4px 16px 1px rgba(0,0,0,0.51);
    color: #FFFF;
}